html {
	background-color: black;
	overflow-y: hidden;
}

body {
	margin: 0px;
}

.c {
	margin: 0px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
}

#fpscounter {
	color: white;
	font-family: "Courier New", Courier, monospace;
	z-index: 3;
	font-size: 20px;
	user-select: none;
}
